@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* Navbar Styles */
.navbar { 
    background-color:#6f42c1; /* Epilepsy purple*/ 
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: 500;
}

.logo {
    font-weight: bold;
    margin-right: 20px;
}

.navbar a:hover {
    color: #d6b3ff;
    text-decoration: underline; /* Hover Effect */
}

.hero {
    padding: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.btn-primary {
    background-color: #6f42c1;
}

.btn-primary:hover {
    background-color: #5a32a3;
}

.text-primary {
    color: #6f42c1 !important;
}

.container {
    margin-bottom: 40px;
}

.hero img {
    width: 300px;
    margin-bottom: 20px;
}